/* Page general */
* {
font-family: arial, sans-serif;
}
a, a:visited {
text-decoration: none;
color: #4f0;
}
a:hover {color: #f84;}
a:active {color: #0cc;}

/* Template */
html, body {
margin: 0;
padding: 0;
left: 0;
top: 0;
transform: none;
width: 100%;
width: 100vw;
height: 100vh;
}
body {background-color: #208;}
.pageblock {
margin: 5vh auto;
border: 0;
padding: 10px;
max-width: 980px;
background-color: #fff;
}
.profile_left {
width: 10%;
display: inline-block;
}
.profile_right {
width: 88%;
display: inline-block;
color: #888;
font-size: 2em;
}
